h1 {
  color:blue;
  font-family: verdana;
  font-size: 70px;
}

p {
  text-align: center;
  font-family: verdana;
}

#allScores {
  background-color: khaki;
}

#bttn {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
}

div {
  text-align:center;
}
body {
  display: block;
  background-color: Beige;
}
